@model Kemijski_spojevi.Database.SpojElement

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SpojElement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SpojId" class="control-label"></label>
                <select asp-for="SpojId" class ="form-control" asp-items="ViewBag.SpojId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ElementId" class="control-label"></label>
                <select asp-for="ElementId" class ="form-control" asp-items="ViewBag.ElementId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

